REACT_APP_LOCALHOST=http://localhost:7000
REACT_APP_API_URL=http://localhost:7000
REACT_APP_apiKey=replace_me
REACT_APP_authDomain=replace_me
REACT_APP_projectId=replace_me
REACT_APP_storageBucket=replace_me
REACT_APP_messagingSenderId=replace_me
REACT_APP_appId=replace_me
REACT_APP_STRIPE_KEY=pk_live_or_test_replace_me
REACT_APP_IMGBB_KEY=replace_me
